# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Info\I ev\II felev\Adat Alg\Labor\Aut_A_DSA_Project\MarketPlaces\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
